footer{
    background-color: #ff0000;
    color: #ffffff; 
    padding: 0px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: sticky; 
    z-index:2}
section{
    margin-top: 10px; 
    color: white; 
    margin-bottom: 10px;}
button{
    color: white; 
    background-color: #ff0000; 
    height:81px; 
    width: 81px; 
    cursor: not-allowed}
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: sticky; 
    z-index:1; 
    width: 98.5%; 
    top: 0px; 
    margin-top: -8px; 
    margin-left: -8px; 
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 0px 20px}
img{
    position: fixed; 
    top: 0%; 
    left: 0%; 
    z-index: -1; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%}