header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index:1;
    width: 98.5%;
    top: 0px;
    margin-top: -8px;
    margin-left: -8px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 0px 20px;
}
.not:hover,.active:hover{
    animation: sut 3s linear infinite;
    cursor: pointer; 
}
.active{
    color: aqua;
}
footer {
    background-color: #ff0000;
    color: #ffffff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index:2;
}
#back{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}
#sect1{
    margin-top: 10px;
}
#sect2{
    margin-bottom: 10px;
}
body {
    cursor: default;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;

}
footer section a:hover{
    color: #fbfbfb;
}
.not:active{
        animation: sat 2s linear infinite;
}
.active:active{
    animation: sta 2s linear infinite;
}
